*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Bigtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    text-shadow: .05em .05em 0 grey,
    -.05em .05em 0 grey,
    -.05em -.05em 0 grey,
    .05em -.05em 0 grey;
}
#Bigtitle h1{
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5em;
    min-height: 60vh;
}
.words{
    padding: 2em;
    margin: 1em;
    border: solid .1em black;
    width: 90vw;
    border-radius: 3em;
    box-shadow: .1em .1em 1em .1em grey;
    background-color: aliceblue;
}
footer{
    text-align: center;
    margin-top: 5em;
    position: relative;
}
footer h4{
    padding: 1.5em;
}
#fblur{
    background-color: rgb(0, 100, 0);
    filter: blur(1em);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
span{
    margin-right: 1em;
    text-transform: uppercase;
}
.uzycie{
    margin-left: 2em;
}
#blur{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position: left;
    position: fixed;
    z-index: -1;
    filter: blur(1em);
    background-image: url(https://cdn.pixabay.com/photo/2020/03/09/16/43/wild-flovers-4916349_960_720.jpg);

    
}